@import "tailwindcss";

html, body {
  overflow-x: hidden;
}

/* Esconde a barra de rolagem lateral em dispositivos móveis (telas menores que 768px) */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
  }
  * {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
  }
}
